*{
  margin:0;
  padding:0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html{
  overflow-x: hidden;
}

